body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.header h1 {
  margin-left: auto;
  margin-right: auto;
}

.adminPanel {
  background-color: black;
  padding: 10px;
}
.adminPanel label {
  margin-left: 40px;
}
.adminPanel input[type="checkbox"] {
  margin-left: 20px;
}
.bookView {
  border: 2px solid #000;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.orderView {
  border-bottom: 2px solid #000;
  margin: 5px;
  padding: 5px;
}

.loginForm {
  margin-top: 20px;
  margin-left: 50px;
}